@import "foundation";


.list-items li {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #aaa;
	margin:0px;
	padding:3px 10px;
	color:#666;
	&:before {
		content: ' ';
	}
	button.delete {
		display:inline;
		float:right;
		margin:0;
		padding:6px 4px;
		background: #fa6;
		&:hover {
			background: #f44;
		}
	}
	&.notice {
		color:#999;
	}
}

.list-items .actions {
	padding: 10px;
	width: 100%;
}